@import url("pallette.css");

/*banner*/

#main-banner {
    height: 40vh;
    margin: 4em 16em;
    background-image: url("../resources/images/plantas-interior-1.jpg");
    background-clip: content-box;
    background-position: 0 50%;
    background-size: cover;
}

#main-banner p {
    font-size: 10vmin;
    text-shadow: 0.2rem 0.2rem 0.2rem var(--green);
}

/* top_sold  */

.top-sold {
    margin: 0 12em 6em 12em;
}

.top-sold > h2 {
    text-align: center;
    margin-bottom: 2em;
}
.top-sold > h2 > a {
    text-decoration: none;
    align-self: center;
    color: var(--green);
    font-size: 1.2em;
}

.top-sold > .product > #product-image {
    height: 100%;
    width: 100%;
}

.top-sold > .product  > #product-price {
    color: var(--light-gray);
}

/* footer  */

footer.row {
    margin: auto;
    margin-top: 2em;
    background-color: var(--green);
    height: 5rem;
    width: 100%;
}

footer > #copyright {
    padding-left: 5rem;
    color: var(--white);
}

footer.row > div > a {
    padding: 0 1em;
    color: var(--white);
}

footer.row > div > a:nth-child(2)::before {
    border-left: 1px solid white;
    padding: 0 1em;
    height: 1em;
    content: "";
}
footer.row > div > a:nth-child(2)::after{
    border-right: 1px solid white;
    padding: 0 1em;
    height: 1em;
    content: "";
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 5rem;
}