@import url("pallette.css");

/* ----------------------------------- */

.bread-separator {
    width: 100%;
    border-color:var(--light-gray); 
}

#checkout-breadcrumb {
    margin: 1rem auto;
    margin-left: 17%;
    max-width: 70%;
}

.bread-number {
    border: 2px solid var(--dark-gray);
    padding: 0.1em 0.5em;
    margin-left: 1.5em;
    
}

.bread-active{
    background: var(--light-gray);
}

.bread-title {
    padding: 0.4em 0 0 0.5em;
    font-size: 0.9em;
}
#checkout-breadcrumb > .col{
        padding-right: 0rem;
        margin-right: 0;
        margin-left: 0;
}


/* ----------------------------------- */

@media(max-width:1300px) and (min-width:1000px){
    #checkout-breadcrumb>.col-1 {
        display: none;
    }
}

@media(max-width:1000px) {
    .bread-title {
        display: none;
    }
    .bread-separator {
        width: 100%;
    }
}

@media(max-width: 425px){
   .bread-separator {
       width: 100%;
       border-color: var(--light-gray);
   }
   .bread-number{
       margin-right: 0em;
   }
   #checkout-breadcrumb {
       margin-left: 1%;
       max-width: 94%;
   }
   
}

@media(max-width:320px){
    #checkout-breadcrumb>.col-1 {
        width: 10%;
    }
    #checkout-breadcrumb {
        margin-left: 0;
        max-width: 100%;
    }
    #checkout-breadcrumb>.col-1 {
        display: none;
    }
}