@import url('pallette.css');

.summary{
  border: 0;
}

.total{
  padding-right: 1rem;
}

.fee{
  padding-left: 1rem;
}

.delivery-fee{
  margin-top: 1em;
  padding-right: 1em;
}

.order-total{
  padding-right: 1.5rem;
}

.order-details>div{
  margin: 0;
}

.order-details>div>p{
  font-weight: bolder;
  color: var(--black);
  
}

.order-details>div>p>span{
  font-weight: lighter;
  color: var(--black);
}

.order-details{
  padding-top: 0.5rem;
  padding-left: 1rem;
  background-color: var(--lighter-gray);
}
