@import url('pallette.css');

/*Order Summary Header*/

.order-summary {
    padding: 0 20%;
    margin-top: 4em;
}

.summary-header .order-status p {
    padding-top: 2em;
}

.summary-header .order-status{
    padding-right: 0;
}

.summary-header h3 {
    color: var(--green);
    padding-bottom: 1em;
}

.summary-header{
    margin-left: 0;
    margin-right: 0;
}

.status {
    color: var(--green);
}

.summary {
    padding-bottom: 1em;
    margin-bottom: 3em;
}

.products-list{
    border-bottom: 2px solid var(--black);
}

/* Order Header */

.summary .header .order-placed p, .summary .header .order-status p {
    padding-left: 1em;
}

.summary .header .order-id {
    font-size: 1.25em;
    margin-top: 0.5em;
}

.summary .header .bank-entity {
    margin-top: 0.5em;
}



.summary .header .deliver-address {
    padding: 1em 1em;
}

.summary .header .deliver-address>* {
    margin: 0;
}

.summary .header {
    background-color: var(--lighter-gray);
}

.summary .payment-method{
    margin: 0;
}

.order-info > .col >*{
    padding-left: 1rem;
}

.delivery-fee{
    margin-top: 0.5em;
}

/* Order List */
.order-details, .shopCartEntry
{
    margin-left: 0;
    margin-right: 0;
}
.row .col-md-8 {
    margin: 1em 0;
}

.order-list-item {
    border-bottom: 1px solid var(--lighter-gray);
    padding: 1em 2em;
}

.order-list-item .col-md-3 p {
    margin-bottom: 0;
}

.row .col-md-3 .img-wrapper {
    height: 80px;
    width: 80px;
}

.row .col-md-3 .img-wrapper .product-image {
    height: 100%;
    width: 100%;
}

.row .col-md-3 .quantity-box {
    text-align: center;
    padding: 0 0.5em;
    width: max-content;
    border: 1px solid var(--black);
}

.units{
    text-align: right;
}
/* Order Fee and Price */

.summary .delivery-fee p {
    font-size: 1em;
    padding-right: 1em;
}

.summary .order-total {
    font-size: 1em;
    padding-right: 1em;
}

.summary .order-total .total {
    color: var(--green);
    padding-right: 0.2em;
}



@media (max-width: 1024px) {
    .order-summary {
        padding: 0 10%;
    }
}

@media (max-width: 768px) {
    .order-summary {
        padding: 0 3%;
        width: 100%;
    }
    .units{
        text-align: start;
    }
    .order-status{
        font-size: 0.75em;
        padding-left: 0.5em;
    }
    .summary .header .deliver-address
    {
        padding: 0 1em 1em 1em;
    }
    .row .col-md-8 {
        margin: 1em 0 0 0;
    }
}

@media (max-width: 570px) {
.name{
    margin-top: 1em;
}
.img-wrapper{
    margin: auto;
}
.product-image
{
    
    margin: auto;
    display: block;
}
}


