.container{
    margin: 0 auto;
}


.review{
    margin-top: 0.3em;
}

.title .review {
    color: var(--dark-gray);
}

.row .dropdown .btn.btn-secondary {
    background-color: #655f5f26;
    border-color: transparent;
    color: black;
}

.product-img  {
padding: 0;
}

.product-img img {
    height: 350px;
    width: 350px;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-secondary.dropdown-toggle:focus,
.btn-secondary.focus,
.btn-secondary:focus {
    box-shadow: 0 0 0 2px rgba(130, 138, 145, .5);
}

#addbasket {
    background-color: var(--green);
    border-color: var(--light-gray);
}

#favorites-add {
    color: var(--dark-gray);
    cursor: pointer;
}

.view-reviews {
    padding-left: 0.25em;
    color: var(--dark-gray);
    text-decoration: underline;
}

.title .price {
    color: var(--dark-gray);
    font-size: 1.25em;
    margin-top: 1em;
}

.title h6 {
    display: inline-block;
    padding-right: 0.25em;
}

.title h3 {
    padding-left: 0;
    color: var(--green);
}

#purchase-buttons a {
    margin: 0 0.5em;
}

.row .related-products {
    padding-top: 2em;
}

div.related-products img {
    height: 200px;
    width: 200px;

}

#buynow {
    border: 1px solid var(--light-gray);
}

.row.product-section {
    margin: 1em auto 0 auto;
}

.card-body {
    padding: 1em;
}

.card .card-title {
    font-size: 1.1em;
}

.card .card-text {
    padding:0 0.75em;
    color: var(--dark-gray);
}

.card {
    border: none;
}

.row.related-section, .row .reviews, .review .row
{
    margin:auto;
}
.row.related-section h3 {
   margin-top:1em;
}
.row .reviews-title h3 {
    margin: 0 1rem;
}

.comment.row {
    margin: 1.5em 0.5em 0 0.5em;
    width: 100%;
}

.comment>.container {
    border-bottom: 1px solid #655f5f80;
}

.comment>.container>.row>.col-md-6 p {
    margin-bottom: 0.1em;
}

.comment>.container>.row>.col-md-6 .name {
    font-weight: bold;
}

.comment>.container>.row>.col-md-6 .date {
    color: #655f5f;
}

.stars>.fa-star {
    color: var(--green);
    font-size: 1.5em;
}

.review-stars {
    margin-bottom: 0rem;
    display: flex;
}

.review-stars > p{
    text-align: center;
    padding-right: 1rem;
}

.review-stars>.star{
    color: var(--green);
    
}

#select-order-Id{
    margin-bottom: 1rem;
}

#review-form{
    margin-bottom: 3rem;
    margin-left: 1em;
    margin-right: 1em;
}

#review-form-text {
    resize: none;
    width: 100%;
}

#submit-review {
    background-color: var(--green);
    border-color: var(--grey);
}

#review-title-form > h3 { 
    margin-bottom: 1.5rem;
}

.card-body {
    padding: 1em;
}

.row.review {
    margin-right: 0;
    margin-left: -0.5px;
    margin-top: 0.5em;
}

.row.comment .container>p {
    margin-top: 1em;
}

.comment>.container>.row>.col-md-3 {
    height: 3em;
    width: 3em;
    padding: 0;
    flex-basis: auto;
}

#form-content {
    margin: auto;
    width: fit-content;
}

.number-input input {
    width: 7em;
}

.number-input>.col-4 {
    padding-left: 0;
}

#img {
    display: none;
}

#form-content {
    width: 33em;
}

#form-content .btn-primary {
    padding: 1em;
    width: 100%;
    height: 100%;
}

#form-content .badge-light {
    background-color: var(--lighter-gray);
    cursor: pointer;
}

#tags-container {
    display: none;
}

#caption {
    font-size: 0.7em;
    background-color: var(--green);
}

.dropdown-menu {
    height: 8em;
}

#form-content h5 {
    color: var(--green);
}


.toast{
    display: none;
}

@media(max-width: 1200px) {
    .product-img img {
        height: 300px;
        width: 300px;
    }
    .product-img{
        margin-bottom: 1em;
    }
    #favorites-add {
        margin-top: 1.25em;
    }
}

@media(max-width: 990px) {
    #purchase-buttons a {
        margin: 0.5em 0;
    }
}

@media(max-width: 769px) {
.product-img img {
    height: 300px;
    width: 300px;
}
}

@media(max-width: 767px) {

    #purchase-buttons a {
        margin: 0 0;
    }
    .related-products  {
        width:30em;
    }
    .product-img {
        width: 100%;
        text-align: center;
    }
    .product-img img {
        height: 400px;
        width: 400px;
        margin-bottom: 2em;
    }
    .row.product-section .col-md img .h-75 {
        height: auto;
    }
    div.related-products img {
        height: 125px;
        width: 125px;
    }
    .card .card-title {
        font-size: 0.8em;
    }
    .card .card-text {
        color: var(--dark-gray);
        font-size: 0.8em;
    }
    .review{
        padding-left:0;
    }
    .related-products
    {margin:auto;}
  }

@media(max-width: 574px) {
    .related-products  {
        width:25em;
    }
    .product-img img {
        height: 300px;
        width: 300px;
        margin-bottom: 2em;
    }
    .comment>.container>.row {
        justify-content: center;
    }
    .row.comment {
        padding: 0 0.3em;
    }
    .comment>.container>.row>.col-md-3 {
        width: 5em;
        height: 5em;
    }
    .comment>.container>.row>.col-md-6 {
        padding: 0;
    }
    .view-reviews {
        padding-left: 0.25em;
    }
    .row .reviews-title{
        margin:auto;
    }
}

@media(max-width: 465px) {

    .related-products  {
        width:21em;
    }
    .stars{
        padding:0.5em 1em;
    }
}

@media(max-width: 320px) {

#form-content{
    width:20em;
}
.product-img img {
    width: 290px;
}
    .related-products  {
        width:20em;
    }
}



