@import url("pallette.css");
#user-img {
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 6em;
    height: 6em;
    border-color: var(--black);
    border-radius: 10px;
    position: relative;
}

.form {
    margin: 3% 25%;
}

#submitbutton {
    font-size: 1em;
    background-color: var(--green);
    color: var(--white);
    width: 100%;
}

.form-title {
    color: var(--green);
    margin-bottom: 1rem;
    font-size: 1.5em;
}

.row .bd {
    margin-left: 0;
}

#birthday {
    margin-bottom: 0.5rem;
    font-size: 1em;
}

#submitbutton {
    margin-top: 0em;
    height: 3rem;
    font-size: 1.15em;
}

.registerinput {
    border-color: var(--white);
    border-radius: 0;
    border-bottom-color: 3px solid var(--gray);
    background-color: var(--lighter-gray);
}

.btn-primary,
.btn-primary:focus,
.btn-primary:active {
    background-color: var(--green)!important;
    color: var(--white)!important;
    border-color: var(--white)!important;
    border-radius: 0!important;
}

.birthday select {
    height: 3.5em;
}

.form-group input {
    margin-top: 1em;
}

.form-group input {
    height: 3em;
}

.form-group input,
.form-control:focus {
    border-color: var(--white);
    border-radius: 0;
    border-bottom-color: 3px solid var(--gray);
    background-color: var(--lighter-gray);
}

.form-control:focus {
    box-shadow: none;
}

.birthday {
    flex-wrap: nowrap;
    margin-bottom: 0;
}

.container-xl>* {
    margin-left: 2rem;
    margin-right: 2rem;
}

@media (min-width: 1440px) {
    .form {
        margin: 3% 20%;
    }
    #submitbutton {
        font-size: 1em;
    }
}

@media (max-width: 1024px) {
    .form {
        margin: 3% 20%;
    }
}

@media (max-width: 768px) {
    .form {
        margin: 3% 8%;
    }
}

#img {
    display: none;
}