    @import url("pallette.css");

    h3 {
        text-align: center;
    }

    #form-content {
        width: 100%;
    }

    #submit-button {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        margin-top: 2rem;
    }

    #legend{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    #selProducts {
        display: none;
    }
    
    

    #form-content img {
        width: 80px;
        height: 80px;
    }

    #selProducts {
        width: 100%;
    }

    #form-content #selectProdBtn {
        max-width: max-content;
        padding: 0 1em;
    }


    h5 {
        padding-top: 1em;
    }

    #products-sales legend {
        font-size: inherit;
    }

    .pagination {
        margin-top: 1em;
    }

    #productname {
        min-width: 50%;
    }

    #image {
        min-width: 40%;
    }

    #price {
        min-width: 10%;
    }

    #filter{
        display: none;
        max-width: 100%;
    }

    @media(max-width: 990px){
        #filter {
            display: block;
        }

        #category-col{
            display: none;
        }
    }

    @media(max-width: 320px) {
        #form-content {
            width: 90%;
        }
    }


    .categories-col>h5 {
        margin-top: 0;
    }
