.content {
    margin: 2% 12%;
}

.card {
    border: none;
}

.card-body .row {
    margin: 0.10em;
}

.content .card-body i .fab,
.content .far {
    color: var(--green);
}

.col-lg-3 {
    padding-right: 6%;
}

.col-lg-3 h5 {
    padding: 0.5em 0;
    margin: 1em 0em;
    border-top: 2.5px solid black;
}

.price label {
    margin: 0em 5em 0.5em 5em;
}

.title {
    justify-content: space-between;
}

.card .img-wrapper {
    align-self: center;
}

.img-wrapper {
    border: 1px solid var(--dark-gray);
    height: 300px;
    width: 300px;
}

img {
    height: 100%;
    margin: auto;
}

.title {
    margin: 4% 4% 0% 1%;
}

.title .breadcrumb {
    background-color: var(--white);
    margin-left: 18%;
    padding: 0;
    font-size: 1.5em;
}

.title .breadcrumb li,
.title .breadcrumb li a {
    color: var(--green);
}

.title .row .col:nth-child(2) {
    text-align: end;
    margin-right: 8%;
}

.title .row .col:nth-child(1) {
    margin-left: 4em;
}

.btn {
    background-color: var(--white);
    color: var(--black);
}

.content .list-group-item {
    margin: 0% 10%;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    background-color: white;
    color: black;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-secondary.focus,
.btn-secondary:focus {
    background-color: var(--white);
    color: var(--black);
    box-shadow: none;
}

.btn-secondary.hover,
.btn-secondary:hover {
    background-color: var(--white);
    color: var(--black);
}

.searchbuttons {
    display: none;
}


.min,
.max,
.min-input,
.max-input {
    text-align: center;
}

.price-inputs label {
    display: none;
}

#results {
    height: 130vh;
}

@media (max-width: 2000px) {
    .img-wrapper {
        height: 250px;
        width: 250px;
    }
}

@media (max-width: 1440px) {
    .img-wrapper {
        height: 200px;
        width: 200px;
    }

    #results {
        height: 100vh;
    }
}

@media (max-width: 1200px) {
    .img-wrapper {
        height: 150px;
        width: 150px;
    }

    #results {
        height: 90vh;
    }
}

@media (max-width: 1024px) {
    .title .row .col:nth-child(2) {
        text-align: end;
        margin-right: 11%;
    }
}

@media (min-width: 769px) {
    .col-lg-3:nth-child(1) {
        display: block;
    }

}

@media (max-width: 768px) {
    .col-lg-3:nth-child(1) {
        display: none;
    }

    #results {
        height: 120vh;
    }
}

@media (max-width: 590px) {
    #results {
        height: 140vh;
    }
}


@media (max-width: 516px) {
    .card-title{
        height: 5em;
    }
}

@media (max-width: 425px) {
    .card-title h5 {
        font-size: 0.75em;
    }

    #results {
        height: 110vh;
    }
}

@media (max-width: 375px) {
    .img-wrapper {
        height: 100px;
        width: 100px;
    }
    .card-body {
        padding: 0;
    }
    .card-title a {
        font-size: 0.75em;
    }
}

@media (max-width: 1000px) {
    .col-lg-3 {
        margin: 1em auto 5em auto;
    }
    .title .row .col h4 {
        text-align: center;
        margin: 1em auto;
    }
    .title .row .col:nth-child(1) {
        margin: auto;
    }
    .title .row {
        flex-direction: column;
        margin-bottom: 2em;
    }
    .title .dropdown {
        display: none;
    }
    .searchbuttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .searchbuttons #order,
    .searchbuttons #filter {
        text-align: center;
        width: 100%;
        margin: 0.5em;
    }
    .searchbuttons #order button,
    .searchbuttons #filter button {
        width: 80%;
        box-shadow: none;
    }
    .btn-outline-dark:hover {
        background-color: var(--white);
        color: var(--black);
    }
    .btn-outline-dark:not(:disabled):not(.disabled).active,
    .btn-outline-dark:not(:disabled):not(.disabled):active,
    .show>.btn-outline-dark.dropdown-toggle {
        background-color: var(--white);
        color: var(--black);
    }
    .form-check {
        text-align: left;
        margin: 2em;
        font-size: 1.25em;
    }
}

@media (min-width: 1000px) {
    .col-lg-3 {
        display: block !important;
    }
}