@import url("pallette.css");
h1.text-center {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.5em;
    color: var(--green);
}

button.col-2 {
    margin-right: 1rem;
}

.btn-primary,
.btn-primary:active,
.btn-primary:focus {
    background-color: var(--green) !important;
    border-color: var(--black) !important;
    padding: 0.7em 3em;
}

#checkout {
    margin-top: 1em;
}

.shopCartEntry {
    border-color: var(--lighter-gray);
    border-width: 1rem;
    border-radius: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.shopCartProduct-stock>a {
    border: 1px solid var(--black);
    padding: 0.20rem;
}

.stock-plus {
    background-color: var(--green);
    color: var(--white);
}

.stock-plus:hover {
    color: var(--white);
}

.stock-minus:hover {
    color: var(--green);
}

.shopCartEntry a:active {
    border-color: transparent;
}

.stock-minus {
    color: var(--green);
}

.shopCartProduct-trash {
    color: var(--green);
}

.shopCartProduct-trash:hover {
    color: var(--green);
}

.shopCartProduct-image {
    width: 80px;
    height: 80px;
}

.shopCart-total {
    margin-top: 1rem;
    border-bottom: 2px solid var(--gray);
}

.shopCart-totaltext {
    color: var(--green)
}

.shopCartEntry>* {
    width: auto;
}

.shopCartProduct-total {
    padding-right: 0;
}

#checkout_btn {
    width: 100%;
    background-color: var(--green);
    color: var(--white);
}


@media(max-width: 769px) {
    .shopCartEntry .entry-img{
        margin-top: 0.2em;
        width: 100%;
    }
    .shopCartEntry .entry-img a{
        justify-content: center;
    }
    .shopCartEntry .entry-img img{
        margin: auto;    
        display: block;
        height: 150px;
        width: 150px;
    }
    .entry-info{
        width: 100%;
    }

}
@media(max-width: 576px) {
    .shopCartEntry {
        padding-top: 0rem;
        margin: auto 0.30rem;
    }
    .shopCartProduct-name {
        align-self: flex-start !important;
    }
    .container {
        padding: 1rem;
        margin: 0;
    }
    .shopCartProduct-total {
        display: none;
    }
    .shopCartProduct-stock {
        text-align: left!important;
    }
    .shopCartProduct-delete {
        text-align: right;
    }
    .shopCart-total,
    #checkout {
        margin: 2em 1.5rem;
    }
}

@media (min-width: 1000px) {
    .container {
        padding: 0 5em;
    }
}