@import url('pallette.css');

.payment-method a.btn {
    border: 1px solid var(--gray);
    padding: 4px 2em;
}

.payment-method #back-btn {
    background-color: var(--light-gray);
    color: var(--black);
}

.payment-method #next-btn {
    background-color: var(--green);
    color: var(--white);
}

.payment-method h3 {
    color: var(--green);
    padding-bottom: 2em;
}

.options .img-wrapper {
    height: 200px;
    width: 200px;
    margin: auto;
    border-color: var(--light-gray);
}

.payment-method {
    padding: 0 30em;
    margin-top: 4em;
}

.options {
    position: relative;
    padding: 2em 0;
}
.options > .col-6 {
    position: static;
    padding-left:  0;
    padding-right: 0;

}

.options > a.col-6:link, .options > a.col-6:visited {
    color: var(--green);
}

.options > .col-6:nth-child(2):before {
    content: "";
    border-left: 1px solid var(--light-gray);
    position: absolute;
    top: 0;
    bottom: 0;
}
.col-padding {
    padding: 0 15px;
}

.options .payment-img {
    height: 100%;
    width: auto;
}

.options .name {
    font-size: 1.5em;
    padding-top: 1em;
    text-decoration: none;
    color: var(--black);
}

.payment-method .buttons {
    padding-top: 5em;
}

.lg-content-between {
    justify-content: space-between;
}


@media (max-width: 1400px) {
    .payment-method {
        padding: 0 10em;
    }
}

@media (max-width: 1600px) and ( min-width: 1400px) {
    .payment-method {
        padding: 0 20em;
    }
}

@media (max-width: 768px) {
    .payment-method {
        padding: 0 4em;
    }

    .payment-method .buttons {
        justify-content: space-around;
    }

    .sm-space-around {
        justify-content: space-around;
    }
}

@media (max-width: 600px) {
    .options {
        flex-direction: column;
        align-items: center;
    }

    .options > .col-6 {
        margin-bottom: 1em;
        max-width: unset; 
    }
    .options > .col-6:nth-child(2):before {
        border-left: 0;
        
    }
    .options >.col-6:nth-child(2) {
        border-top:  1px solid var(--light-gray);
        padding-top: 1em;
    }


    .payment-method h3 {
        text-align: center;
        padding-bottom: 1em;
    }
}

@media (max-width: 360px) {

    .payment-method {
        padding: 0 2em;
    }
    .payment-method .buttons {
        padding-top: 0;
        flex-wrap: nowrap;
        height: 75%;
        font-size: 1em;
    }

    .payment-method #back-btn {
        margin-right: 1em;
    }

    .payment-method .btn {
        height: 100%;
    }

    .options >.col-6:nth-child(2) {
        border-top:  0;
        padding-top: 0;
    }

    .options > .col-6:nth-child(2) .img-wrapper{
        border-top:  1px solid var(--light-gray);
        padding-top: 1em;
    }

    .options > .col-6:nth-child(2) .img-wrapper .payment-img {
        width: 100%;
        height: auto;
    }
}
