@import url("pallette.css");
button.btn-primary {
    background-color: var(--green);
    color: var(--white);
    border-color: var(--white);
    border-radius: 0;
}

input.form-control {
    border-radius: 0;
    border-color: var(--black);
}

.form-title {
    color: var(--green);
    margin-bottom: 2rem;
    margin-top: 1rem;
}

@media (max-width: 768px) {
    .form {
        margin: 0em 5%;
    }
}