@import url("pallette.css");
/*Form */

h3 {
    color: var(--green);
    margin: 3em 0em 0em 30%;
}

h6 {
    font-weight: bold;
    margin-bottom: 0.75em;
}

.form {
    margin: 2em 30%;
}

.form-group input,
.form-control:focus {
    border-color: var(--white);
    border-radius: 0;
    border-bottom-color: 3px solid var(--gray);
    background-color: var(--lighter-gray);
}

.form-control:focus {
    box-shadow: none;
}

.radios {
    margin-bottom: 1em;
}

#next-btn {
    background-color: var(--green);
    color: var(--white);
    width: 20%;
}

@media (max-width: 1024px) {
    .form {
        margin: 2em 20%;
    }
}

@media (max-width: 1024px) {
    .form {
        margin: 2em 20%;
    }
}

@media (max-width: 768px) {
    .flex-row-reverse {
        flex-direction: row;
        justify-content: center;
    }
    #next-btn {
        width: 100%;
    }
    h3 {
        margin: auto;
        text-align: center;
    }
    .form {
        margin: 2em 10%;
    }
}