:root {
    --green-color: #567A4D;
    --dark-grey-color: #655F5F;
    --light-grey-color: #707070;
    --light-grey-2-color: #ECECEC84;
    /*used for forms*/
    --black-color: #000000;
    --white-color: #ffffff;
    --green-color: #567A4D;
    --fonts: Arial, Helvetica, sans-serif;
}