:root {
    --white: white;
    --black: black;
    --gray: #655F5F;
    --dark-gray: #707070;
    --light-gray: #CCCBCB;
    --lighter-gray: #ECECEC84;
    --green: #567A4D;
    --red: #DF2424;
    --light-gray-2: #ececec;
    --fonts: Arial, Helvetica, sans-serif;
}