@import url("pallette.css");
.account-sections {
    margin-top: 10%;
}

h3 {
    font-size: 1.25em;
    font-weight: bold;
}

#day {
    margin-bottom: 1em;
}

.badge {
    background-color: transparent;
    font-weight: 400;
    display: block;
    text-align: start;
    padding: 1em 0;
    font-size: 1em;
}

#password {
    margin-bottom: 1em;
    height: 3em;
}

.fa-trash {
    color: var(--green);
}

a.btn {
    border: 1px solid var(--light-gray);
}

#savechanges,
#add-manager {
    width: 100%;
    height: 3em;
    text-align: center;
    background-color: var(--green);
    color: var(--white);
    font-size: 0.8em;
    border: 1px solid var(--light-gray);
}

#add-manager {
    margin-top: 2em;
    width: 100%;
    height: 4em;
}

.order,
.name {
    text-decoration: underline;
}

.profile .col-md-9 {
    margin-top: 3em;
}

.row.header {
    background-color: var(--light-gray);
    color: var(--dark-gray);
}

.table-entry {
    border-bottom: 1px solid var(--light-gray);
    padding: 0.5em 0;
}

input.stock {
    text-align: center;
    width: 100%;
}

.stock-wrapper,
input {
    padding: 0;
}

#managers>.row {
    position: relative;
}

#managers .delete-button {
    position: absolute;
    right: 0;
    top: 0.5rem;
}

#managers .delete-button .btn.btn-secondary {
    padding: 0.01em 0.4em;
    background-color: var(--white);
    color: var(--red);
    border-color: var(--black);
    font-size: 1.3em;
}

#managers .description {
    text-align: left;
    margin-left: 1em;
    padding-top: 1em;
}

#managers .description h5 {
    font-size: 1.25em;
}

#managers>div:last-child>.col {
    padding: 0;
}

#managers img {
    width: 3.5em;
    height: 3.5em;
    margin-left: 0.3em;
}

.modal-title {
    color: var(--green);
    width: 100%;
    text-align: center;
}

.modal-footer button {
    width: 100%;
}

.img-wrapper {
    width: 100%;
    height: 100%;
}

.img-wrapper>img {
    width: 100%;
    height: 100%;
}

.profile .container .row>.card.product {
    margin-top: 0;
}

.profile .container .row>* {
    text-align: center;
}

.profile {
    padding: 0 8em;
}

.re-order>span {
    display: none;
}

.stock-wrapper input.stock {
    flex-basis: auto;
    width: 3em;
    max-width: fit-content;
}

.profile .col-md-9>.container {
    padding: 5% 10%;
}

#products-button {
    margin-top: 1em;
    font-size: 1em;
    background-color: var(--green);
    color: var(--white);
    width: 100%;
}

@media(max-width: 767px) {
    .account-sections {
        padding-top: 0em;
        order: 0;
        margin: auto;
    }
    .row.header {
        display: none;
    }
    .account-sections>ul.list-group .list-group-item:last-child {
        border-bottom-width: thin;
    }
    .profile .container .row .order {
        order: 1;
        text-align: start;
    }
    .orders .row:not(.header) {
        border-top: 1px solid var(--light-gray);
        border-bottom: 0;
    }
    .profile .container .row .date {
        order: 2;
        text-align: end;
    }
    .profile .container .row .status {
        order: 3;
        text-align: left;
    }
    .profile .container .row .confirm {
        order: 4;
        text-align: right;
    }
    .orders .row .col-md-2.re-order .fas {
        margin-right: 1em;
        display: inline-block;
    }
    .orders .row .col-md-2.state {
        order: 3;
        text-align: start;
    }
    .orders .row .col-md-2.price {
        display: none;
    }
    .account-sections>ul.list-group .list-group-item {
        padding: .75rem 0;
    }
    .badge {
        margin-right: 1.3em;
    }
    .account-sections>ul.list-group {
        flex-direction: row;
        justify-content: center;
        overflow-x: scroll;
        width: 100%;
    }
    h3 {
        text-align: center;
    }
    .profile .col-md-9 {
        order: 1;
    }
    .price {
        order: 2;
    }
    .delete,
    .name,
    .stock {
        order: 1;
    }
    .profile .container .row .delete,
    .profile .container .row .name {
        text-align: left;
    }
    .profile .container .row .stock,
    .profile .container .row .price {
        text-align: right;
    }
    .btn.btn-primary:not(#add-manager) {
        max-width: 100%;
    }
    input {
        width: fit-content;
    }
}

@media(max-width: 992px) {
    .orders .row.header {
        display: none;
    }
    .orders .price {
        display: none;
    }
    .profile .container.orders .row .date {
        order: 2;
        text-align: end;
    }
    .orders .row .re-order {
        order: 4;
        text-align: end;
    }
    .orders .row .state {
        order: 3;
        text-align: left;
    }
}

@media(max-width: 425px) {
    .profile {
        padding: 0 2%;
    }
    #savechanges {
        width: 100%;
        font-size: 1em;
    }
}

@media(max-width: 1260px) {
    .fa-plus-square,
    .fa-minus-square {
        display: none;
    }
    .profile .container .row>* {
        padding: 0
    }
}