@import url("pallette.css");

.account-sections {
    padding-top: 5em;
}


h3 {
    font-size: 1.3em;
    font-weight: bold;
}

.btn.btn-primary,
.btn.btn-primary:focus
.btn.btn-primary:active{
    background-color: var(--green) !important;
    border-color: var(--green) !important;
    color: var(--white) !important;
}

.btn.btn-primary:not(#add-manager){
    max-width: 10em;
}

.badge {
    background-color: transparent;
    font-weight: 300;
    display: block;
    text-align: start;
    padding: 1em 0;
}

.fa-trash {
    color: var(--green);
}

.order, .name {
    text-decoration: underline;
}

.profile .col-md-9 {
    margin-top: 3em;
}

.profile.container-fluid .container .row > *{
    margin: auto;
    text-align: center;
    font-size: 0.9em;
}

.row.header{
    background-color: #ECECEC84;
    color: var(--dark-gray);
}

.table-entry{
    border-bottom: 1px solid var(--light-gray);
    padding: 0.5em 0;
}



@media(min-width: 775px){
    .profile.container-fluid{
        padding: 0 8em;
    }

    .re-order > span{
        display: none;
    }

    .stock-wrapper input.stock {
        flex-basis: auto;
        width: 3em;
        max-width: fit-content;
    }
    
    .profile.container-fluid .col-md-9 .container {
        padding: 0 10vw;
    }
}


input.stock {
    text-align: center;
    width: 100%;
}

.stock-wrapper, input {
    padding: 0;
}

@media(max-width: 767px){
    .account-sections{
        padding-top: 0em;
        order: 0;
        margin: auto;
    }

    .row.header{
        display: none;
    }

    .account-sections > ul.list-group .list-group-item:last-child {
        border-bottom-width: thin;
    }

    .profile.container-fluid .container .row .order{
        order: 1;
        text-align: start;
    }

    .orders .row:not(.header){
        border-top: 1px solid var(--light-gray);
        border-bottom:0;
    }

    .profile.container-fluid .container .row .date{
        order: 2;
        text-align: end;
    }

    .profile.container-fluid .container .row .status{
        order: 3;
        text-align: left;
    }

    .profile.container-fluid .container .row .confirm{
        order: 4;
        text-align: right;
    }

    .orders .row .col-md-2.re-order .fas{
        margin-right: 1em;
        display: inline-block;
    }
    .orders .row .col-md-2.re-order{
        order: 4;
        text-align: end;
    }    

    .orders .row .col-md-2.state{
        order: 3;
        text-align: start;
    }

    .orders .row .col-md-2.price {
        display: none;
    }
    
    .account-sections > ul.list-group .list-group-item {
        padding: .75rem 0;
        font-size: 0.8em;
    }

    .badge {
        margin-right: 1.3em;
    }

    .account-sections > ul.list-group {
        flex-direction: row;
        justify-content: center;
        font-size: 1.2em;
        overflow-x: scroll;
        width: 100%;
    }

    h3 {
        font-size: 1.7em;
        text-align: center;
    }

    .profile .col-md-9{
        order: 1;
    }

    .price {
        order: 2;
    }

    .delete, .name, .stock {
        order: 1;
    }

    .profile.container-fluid .container .row .delete, 
    .profile.container-fluid .container .row .name{
        text-align: left;
    }

    .profile.container-fluid .container .row .stock,
    .profile.container-fluid .container .row .price {
        text-align: right;
    }

    .btn.btn-primary:not(#add-manager){
        max-width: 100%;
    }

    input {
        width: fit-content;
    }
}

@media(min-width: 1800px){
    .badge{
        font-size: 0.9em;
    }

    .fas.fa-plus-circle{
        font-size: 1.3em;
    }
}



@media(max-width: 1260px){
    .fa-plus-square,
    .fa-minus-square {
        display: none;
    }

}

#managers > .row {
    position: relative;
}

#managers .delete-button {
    position: absolute;
    right: 0;
    top: 0.5rem;
}

#managers .delete-button .btn.btn-secondary {
    padding: 0.01em 0.4em;
    background-color: var(--white);
    color: var(--red);
    border-color: var(--black);
    font-size: 1.3em;
}

#managers .description {
    text-align: left;
    margin-left: 1em;
    padding-top: 1em;
}

#managers .description h5 {
    font-size: 1.25em;
}

#managers img {
    width: 3.5em;
    height: 3.5em;
    margin-left: 0.3em;
}

.modal-title{
    color: var(--green);
    width: 100%;
    text-align: center;
}

#save-changes div.col-md-6{
    margin-right: 0;
    text-align: right;
}

.modal-footer button {
    width: 100%;
}