@import url("pallette.css");
#user-img {
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 6em;
    height: 6em;
    border-color: var(--black);
    border-radius: 1;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.form {
    margin: 0 10%;
}

#submitbutton {
    font-size: 1em;
    background-color: var(--green);
    color: var(--white);
    width: 100%;
}

.form-title {
    color: var(--green);
    margin-bottom: 1rem;
    font-size: 1.5em;
}

.row .bd {
    margin-left: 0;
}

#birthday {
    margin-bottom: 1rem;
    font-size: 1.25em;
}

#submitbutton {
    height: 3rem;
}

.registerinput {
    border-color: var(--white);
    border-radius: 0;
    border-bottom-color: 3px solid var(--gray);
    background-color: var(--lighter-gray);
}

.btn-primary,
.btn-primary:focus,
.btn-primary:active {
    background-color: var(--green)!important;
    color: var(--white)!important;
    border-color: var(--white)!important;
    border-radius: 0!important;
}

.form-group input,
.form-control:focus {
    border-color: var(--white);
    border-radius: 0;
    border-bottom-color: 3px solid var(--gray);
    background-color: var(--lighter-gray);
}

.form-control:focus {
    box-shadow: none;
}

.birthday {
    flex-wrap: nowrap;
}

.container-xl>* {
    margin-left: 2rem;
    margin-right: 2rem;
}

@media (max-width: 425px) {
    .form {
        margin: 0 5%;
    }
}